<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="Tests/bootstrap.php">
    <testsuites>
        <testsuite name="Certificationy Tests">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <file>./Application/Certificationy.php</file>
                <file>./certificationy.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>